.advantages {
  @include grid;
  margin-top: 57px;
  &__item {
    flex-basis: calc((100% - 3 * $spaceGap) / 4);
  }
  &__title {
    @include advantages-title;
  }
  &__text {
    line-height: 1.71;
  }
  &__icons {
    margin-bottom: 30px;
  }
}
