.footer {
  background-color: $bgFooterColor;
  &__contact-link,
  &__logo {
    text-decoration: none;
  }
  &__logo {
    @include logo;
    padding-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
  }
  &__logo,
  &__contact-link,
  &__contact-item &__contact-link-location {
    color: $primaryColor;
  }
  &__contact-item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__contact {
    padding-bottom: 60px;
    display: inline-block;
  }
  &__contact-link,
  &__contact-item {
    font-style: normal;
    line-height: 1.71;
    color: $textColor;
    transition: $transition-nav;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
  &__contact-link-location {
    display: inline-block;
    text-transform: capitalize;
  }
  &__contact-link-location::first-letter {
    text-transform: lowercase;
  }
  &__contact-wrapper {
    display: flex;
  }
  &__title,
  &__form-title {
    @include titles-footer;
  }
  &__icon-items {
    display: flex;
  }
  &__icon-item:not(:last-child) {
    margin-right: 10px;
  }
  &__social {
    margin: 72px 78px 0 70px;
  }
  &__icon-link {
    @include link-social;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $accentColor;
    }
  }
  &__form {
    margin-top: 72px;
  }
  &__newsletter {
    display: flex;
  }
  &__newsletter-input {
    @include footer-form;
    &::placeholder {
      color: $textFooterPlaceholder;
      font-size: 16px;
      line-height: 1.25;
      background-color: $bgFooterColor;
    }
  }
  &__newsletter-input:invalid {
    color: $textFooterPlaceholder;
  }
  &__newsletter-input:focus-visible {
    outline: $bgFooterInputBorder;
  }
  &__btn {
    @include footer-btn;
    &:hover {
      cursor: pointer;
    }
  }
  &__form-icon {
    margin-left: 24px;
  }
}
