.card {
  @include grid;
  &__img {
    @include projects-img;
  }
  &__title {
    @include projects-title;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  &__subtitle {
    @include projects-subtitle;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  &__overlay {
    @include projects-overlay;
  }
  &__overlay-text {
    color: $primaryColor;
    font-size: 18px;
    line-height: 1.55;
  }
  &__img:hover &__overlay,
  &__overlay:focus {
    transform: translateY(0);
  }
  &__container {
    position: relative;
    background-color: $primaryColor;
  }
}
