.team {
  background-color: $bgTeamButtonColor;
  &__main-title {
    @include title-section;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__cards {
    display: flex;
    gap: $spaceGap;
    flex-wrap: wrap;
  }
  &__card-item {
    @include card-team;
  }
  &__title {
    @include card-title;
  }
  &__subtitle {
    @include card-subtitle;
  }
  &__icon-items {
    display: flex;
    justify-content: center;
    margin: 16px 32px 30px 32px;
  }
  &__icon-link {
    @include team-social;
    &:hover,
    &:focus {
      cursor: pointer;
      --color1: $primaryColor;
      background-color: $accentColor;
    }
  }
  &__icon {
    fill: $primaryColor ;
  }
}
