body {
  font-family: $primaryFont;
  color: $textColor;
  letter-spacing: 0.03em;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

